*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    height: 80%;
    width: 25%;
    background-color: coral;
}

.divinput{
    height: 20%;
    width: 100%;
    background-color:cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.divinput input{
    width: 100%;
   padding: 0.8vw 0vw;
   font-size: 1.5vw;
   text-align: right;
   font-weight: 500;
   border: none;
   background-color: darkorange;
   
}

.buttunparent{
    width: 100%;
    height: 80%;
    background-color: darkturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-div{
    width: 100%;
    height: 20%;
}
.button-div button{
   padding: 1vw 2vw; 
   margin: 0.5vw ;
   
}


